{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Reset Password{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Reset Password</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
        {% for error in form.email.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
             <p style="color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>{{ form.submit() }}</p>
</form>
<br />
<p class="text-left">or <a href="{{ url_for('auth.register') }}">Create New Account</a></p> 
{% endblock %}