{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  <!-- Link to your custom CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpass.css') }}">
{% endblock %}

{% block title %}Reset Password error{% endblock %}

{% block header %}
<div class="page-header">
    <h1>Error</h1>
</div>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Error</h1>
</div>
<h2>Somethings gone wrong! Reset Password request may have timed out.</h2>
{% endblock %}