body {
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
  }
  
  #sidebarfullscreen {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    padding-top: 80px;
    z-index: 1000;
  }
  
  #sidebarfullscreen a {
    display: block;
    padding: 15px 20px;
    color: #1C1C1C;
    font-weight: 500;
    text-decoration: none;
  }
  
  #sidebarfullscreen a:hover {
    background-color: #C19A6B;
    color: #fff;
    border-radius: 8px;
  }
  
  #sidebartitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: -60px;
  }
  
  #header h1 {
    margin-left: 222px;
    margin-top: -140px;
    font-size: 30px;
    text-align: center !important;
  }
  
  .insight-card {
    background-color: #FFF8E1;
    border-radius: 16px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }

  #containerQuickInsight{
    margin-left: 220px;
  }
  
  .insight-card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
    font-weight: 500;
  }
  
  #main {
    margin-left: 220px;
    margin-top: -80px;
  }

  .btn{
    margin-right: 400px;
  }
/* Responsive Sidebar (ON Small Screens ONLY!!!!!!) */
@media (max-width: 800px) {
    /* test */
    .card, .card2, .card3, #quickinsightTitle{
        display: none;

    }
    
    #sidebar {
        height: 100%;
        position: absolute;
        width: 100px;
        top: 56px; /* Below navbar */
        left: 0;
        top: 52px; 
        }

    #sidebar.expanded{
        width: 200px;
    }

    #sidebar.expanded ~ #content{
        margin-left: 200px !important;
    }
    
    #content {
        margin-top: -50px;
        margin-left: 100px;
    }

    #sidebar.expanded ~ #header{
        text-align: center !important;
    }

    #header {
        text-align: center !important;
        width: 100% !important;
        margin: 0 auto !important;
        display: flex;
        justify-content: center;
        margin-top: 1px;
    }

    #calendar{
        margin-left: absolute;
    }
}

    /* EVERYTHING DEALING WITH THE CALENDAR ONLY */
:root {
    --fc-button-bg-color: BLUE;
    --fc-border-color: #b3b0b0;

    .fc-toolbar-title{
        font-size: 18px;
        font-family: "Open Sans", sans-serif; 
    }
    .fc-daygrid-day-number{
        color: #495057;
    } 
    .fc-col-header-cell-cushion{
        color: #495057;
        font-size: small;
    }

    .fc-toolbar-chunk{
        margin-top: 20px;
    }
    .fc-event-title{
        font-size: 15px;
        color: #ffffff;
    }
    .fc-prev-button, .fc-next-button{
        background-color: #323232;
        border-color: #323232;
    }
    .fc-daygrid-event{
        background-color: #323232;
        border-color: #323232;
    }
    .fc-col-header { /* MIGHT BE USELESS??? */
        border-radius: 16px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .fc-scrollgrid-sync-inner{
        margin-top: 25px;
    }
    .fc-col-header-cell-cushion{
        top: -70px;
    }
      
    .fc-scrollgrid { /* Formatting grid for top and left */
        border-radius: 16px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
      .fc-scrollgrid-section > th {/* Formatting grid for right*/
        border-radius: 0px 16px 0px 0px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
   }
      .fc-scrollgrid-section > td {/* Formatting grid for bottom right*/
        border-radius: 0px 0px 16px 16px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
      }

}



