body {
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
  }
  
  .insight-card {
    background-color: #FFF8E1;
    border-radius: 16px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }

  #containerQuickInsight{
    margin-left: 220px;
  }
  
  .insight-card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 16px;
    font-weight: 500;
  }
  
  #main {
    margin-left: 220px;
    margin-top: -80px;
  }

  .btn{
    right: -100px;
  }
/* Responsive Sidebar (ON Small Screens ONLY!!!!!!) */
@media (max-width: 800px) {
    /* test */
    .card, .card2, .card3, #quickinsightTitle{
        display: none;

    }
    
    #content {
        margin-top: -50px;
        margin-left: 100px;
    }
    #calendar{
        margin-left: absolute;
    }
}

    /* EVERYTHING DEALING WITH THE CALENDAR ONLY */
:root {
    --fc-button-bg-color: BLUE;
    --fc-border-color: #b3b0b0;

    .fc-toolbar-title{
        font-size: 18px;
        font-family: "Open Sans", sans-serif; 
    }
    .fc-daygrid-day-number{
        color: #495057;
    } 
    .fc-col-header-cell-cushion{
        color: #495057;
        font-size: small;
    }

    .fc-toolbar-chunk{
        margin-top: 20px;
    }
    .fc-event-title{
        font-size: 15px;
        color: #ffffff;
    }
    .fc-prev-button, .fc-next-button{
        background-color: #C19A6B;
        border-color: #C19A6B;
    }
    .fc-daygrid-event{
        background-color: #C19A6B;
        border-color: #C19A6B;
    }
    .fc-col-header { /* MIGHT BE USELESS??? */
        border-radius: 16px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .fc-col-header-cell-cushion{
        padding-top: 20px;
    }
      
    .fc-scrollgrid { /* Formatting grid for top and left */
        border-radius: 16px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        
    }
      .fc-scrollgrid-section > th {/* Formatting grid for right*/
        border-radius: 0px 16px 0px 0px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        
   }
      .fc-scrollgrid-section > td {/* Formatting grid for bottom right*/
        border-radius: 0px 0px 16px 16px !important;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        
      }

}