body {
    background-color: #f4f4f4;
}

/* Content */
#content {
    margin-left: 2px;
    padding: 10px;
}

#header-left{
    height: -20px;
    margin-right: 10px;
    padding: 20px;
    font-size: 50px;
}
.btn-primary{
    background-color: blue;
}
.searchbar{
   margin-top: 16px; 
}

.btn-create-service{
    font-size: 17px;
    font-style: italic;
    width: auto;

}

.pull-left{
    font-size: 32px;
}

#header-left{
    font-size: 20px;
}

.service-card {
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    
  }
.card-body{
    max-width: auto;
}

  .service-title{
    font-size: large;
  }

  .service-description{
    font-size: small;
  }

  /* Centers price on service card */
  .service-price{
    font-size: Large;
    margin-top: -45px;
  }

  .main-content{
    width: 350px;
    justify-content: center;
}

#Modal{ 
    margin-top: 190px;
  }

.modal-title{
    font-size: 20px;
}
.modal-header{
    justify-content: center;
}
.closex{
    margin-top: -25px;
}
.mb-3{
    justify-content: space-around; 
}

/* Responsive Sidebar (ON Small Screens ONLY!!!!!!) */
@media (max-width: 768px) {
    #sidebar {
        height: 100%;
        position: absolute;
        width: 100px;
        top: 56px; /* Below navbar */
        left: 0;
        top: 52px; 
        }

    #sidebar.expanded{
        width: 200px;
    }

    #sidebar.expanded ~ #content{
        margin-left: 200px;
    }
    
    #content {
        margin-top: -50px;
        margin-left: 80px;
    }

    #sidebar.expanded ~ #header{
        margin-left: 200px;
    }

    #header{
        margin-top: -50px;
        margin-left: 80px;
    }
}