body {
    /*background-image: url('https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/647a62c28d2e511ffa08d350_647817f5c7d7212ae98065f5_b25debab.png');*/
    background-position: center;
    transform: scale(1.0);
    -moz-transform: scale(1.0);
    background-size: auto;
    /*background-color: #999851;*/
  }
  
  /* Register Button color global */
  .btn-primary {
    background-color: #2f2f2f;
    border-color: #2f2f2f;
  }
  
  /* The register form card */
  .card-body {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.747);
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Already have an account? Login button */
  .form-group-login {
    line-height: 3.5;
    color: rgb(8, 121, 219);
  }
  
  /* Loyals Booking title */
  .form-group-title {
    font-size: 25px;
  }
  
  .registerblock {
    min-width: 100px;  /* Adjust to desired width */
    max-width: 100px;  /* Keep consistent with min-width */
  }

  /* Sign up card footer */
  .card-footer {
    line-height: 5.5;
  }
  
  .business-name {
    line-height: 3;
    font-size: 30px;
  }
  