{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block navbar %}
<!-- IF USER IS LOGGED IN THEY WILL SEE SIDE NAV BAR-->
{% if current_user.is_authenticated %}
<div id="sidebar">
  <p id="sidebartitle">Loyals</p>
  <a href="{{ url_for('main.dashboard') }}">
    <span class="material-icons">dashboard</span> 
  <span class="sidebartext">Dashboard</span>
  </a>
  <a href="{{ url_for('main.rewards') }}">
    <span class="material-icons">card_giftcard</span>
    <span class="sidebartext">Rewards</span>
  </a>
  <a href="#">
    <span class="material-icons">people</span> 
    <span class="sidebartext">Clients</span>
  </a>
  <a href="{{ url_for('main.myservices') }}">
    <span class="material-icons">build</span> 
    <span class="sidebartext">My Services</span>
  </a>
  <a href="{{ url_for('main.pricing') }}">Pricing</a>
	<a href="{{ url_for('main.profilesettings') }}">
    <span class="material-icons">person</span>
    <span class="sidebartext">Profile</span> 
  </a>
  <a href="{{ url_for('auth.logout') }}">
    <span class="material-icons">logout</span>
    <span class="sidebartext">Logout</span> 
  </a>
  </div>
  {% endif %}

  <!-- IF USER IS NOT LOGGED IN THEY WILL SEE THE TOP NAV BAR-->
{% if not current_user.is_authenticated %}
<nav class="navbar navbar-default">
  <div class="container1">
    <div class="navbar-header">
      <!-- Collapsed Hamburger -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand sidebartitle" href="#">Loyals</a>
    </div>

    <!-- Collect the nav links for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav navbar-right">
        <!-- nav-link is a custom class you can keep for styling -->
        <li><a class="nav-link" href="pricing.html">Pricing</a></li>
        <li><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        <!-- btn-outline-light is also a custom class in your CSS -->
        <li><a class="btn btn-outline-light" href="{{ url_for('auth.register') }}">Create an Account</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}



{% endblock %}

{% block content %} 
<div class="container">{% block page_content %}{% endblock %}</div>
{% endblock %}