{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}?v=5">
{% endblock %}

{% block navbar %}
<!-- IF USER IS LOGGED IN THEY WILL SEE SIDE NAV BAR-->
{% if current_user.is_authenticated %}
<div id="sidebar">
    <p id="sidebartitle">Loyals Booking</p>
    <a href="{{ url_for('main.dashboard') }}">
      <span class="material-icons">dashboard</span> Dashboard
    </a>
    <a href="{{ url_for('main.rewards') }}">
      <span class="material-icons">card_giftcard</span> Rewards
    </a>
    <a href="#">
      <span class="material-icons">people</span> Clients
    </a>
    <a href="{{ url_for('main.myservices') }}">
      <span class="material-icons">build</span> My Services
    </a>
    <a href="{{ url_for('auth.logout') }}">
      <span class="material-icons">logout</span> Logout
    </a>
  </div>
  {% endif %}

  <!-- IF USER IS NOT LOGGED IN THEY WILL SEE THE TOP NAV BAR-->
{% if not current_user.is_authenticated %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}

{% block content %} 
<div class="container">{% block page_content %}{% endblock %}</div>
{% endblock %}