{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}<title>Loyals | Account Confirmation</title>{% endblock %}

{% block page_content%}
<body>
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="card m-2 h-50">
            <div class="card-body">
<div class="card-title">Please confirm account</div>

<p class="card-text">
{% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </p>
</div>
<div class="card-footer text-center">
    <p>
        Didn't get the email?
        <a href="{{ url_for('main.resend') }}">Resend</a>.
    </p>
</div>
</div>
</div>
</body>
{% endblock %}