{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Rewards{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/myservices.css') }}">
{% endblock %}

{% block page_content %}

  <!-- Main Content (No extra sidebar here) -->
  <div id="content">

    <!-- Modal window -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Create a Reward</h5>
            <button type="button" class="closex" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            {{ wtf.quick_form(form) }}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary closebutton" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary addservice">Add Reward</button>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light clearfix mb-3 p-3 rounded">
      <h1 class="allservice">All Rewards Programs</h1>
      <button type="button" class="pull-right btn btn-primary btn-block btn-create-service" data-toggle="modal" data-target="#Modal">+ Create New Reward</button>
    </div>

    <div class="searchbar">
      <input type="text" class="form-control" placeholder="Search...">
    </div>

    <div id="services-list">
      <div class="service-card">
        {% for reward in rewardsList %}
        <div class="card-body">
          <h5 class="service-title">{{ reward.title }}</h5>
          <div class="service-description text-muted mb-0">{{ reward.description }}</div>
          <div class="service-price fw-bold pull-right">{{ reward.points }}</div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
